body {
  /* background-color: lightblue; */
}

h1 {
  /* color: rgb(240, 135, 135); */
  text-align: center;
}

p {
  font-family: "Lucida Console", monospace;
  font-size: 20px;
}

html {background-color: #1e154a}



.paragprah_default {
    font-family: "Lucida Console", monospace;
    font-size: 20px;
}

.paragprah_red {
    font-family: "Lucida Console", monospace;
    font-size: 20px;
    color: #fc0341;
}